<div>
  <div style="justify-content: flex-end;
  display: flex;
  margin: 20px;">
    <button (click)="saveAll()">HEPSİNİ KAYDET</button>
  </div>
  <ngx-datatable
  class="material"
  [rows]="combinedList"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
>
  <ngx-datatable-column name="İl">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <ng-container *ngIf="row.editing; else showIl">
        <select [(ngModel)]="row.selectedIl" (change)="onIlChange(row)">
          <option *ngFor="let il of ilList" [value]="il.id" [selected]="il.id === row.il_id">{{ il.name }}</option>
        </select>
      </ng-container>
      <ng-template #showIl>
        {{ row.il }}
      </ng-template>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="İlçe Adı">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <ng-container *ngIf="!row.editing; else editCell">
        {{ row.ilce }}
      </ng-container>
      <ng-template #editCell>
        <input
          type="text"
          [value]="row.ilce"
          (input)="updateDistrict($event, row)"
        />
      </ng-template>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="İlçe Kodu">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <ng-container *ngIf="!row.editing; else editCell">
        {{ row.ilce_id }}
      </ng-container>
      <ng-template #editCell>
        <input
          type="text"
          [value]="row.ilce_id"
          (input)="updateDistrictId($event , row)"
        />
      </ng-template>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="İşlemler">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button (click)="toggleEdit(row)">Düzenle</button>
      <button *ngIf="row.editing" (click)="save(row)">Kaydet</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

</div>

